@page "/_manage/browse/{**path}"
@using FlipLeaf
@model FlipLeaf.Manager.Pages.BrowseModel

@{ ViewData["Title"] = "Content Manager"; }

@section Styles
{
    <style type="text/css">
        tr .hover-link {
            visibility: hidden;
        }

        tr:hover .hover-link {
            visibility: visible;
        }
    </style>
}

<h3>Content Manager 2</h3>

<nav aria-label="breadcrumb">
    <manage-breadcrumb path="@Model.Path"></manage-breadcrumb>
</nav>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
            <th>Last update</th>
        </tr>
    </thead>
    <tbody class="directories">
        @foreach (var item in Model.Directories)
        {
            <tr>
                <td>
                    @if (item.Path.Name.StartsWith('_'))
                    {
                        <i class="fa fa-cog text-primary" aria-hidden="true"></i>
                    }
                    else
                    {
                        <i class="fa fa-folder-o text-primary" aria-hidden="true"></i>
                    }
                    <a asp-route-path="@item.Path.RelativePath">@item.Path.Name</a>
                </td>
                <td></td>
                <td></td>
            </tr>
        }
    </tbody>
    <tbody class="files">
        @foreach (var item in Model.Files)
        {
            <tr>
                <td>
                    <i class="fa fa-file-o text-primary" aria-hidden="true"></i>
                    <a asp-page="Edit" asp-route-path="@item.Path.RelativePath">@item.Path.Name</a>
                </td>
                <td>
                    <span class="hover-link">
                        <a asp-page="Show" asp-route-path="@item.Path.RelativePath">View</a>
                        <a asp-page="Edit" asp-route-path="@item.Path.RelativePath">Edit</a>
                        <a asp-page="EditRaw" asp-route-path="@item.Path.RelativePath">Raw</a>
                        <a asp-page-handler="DeleteFile" asp-route-path="@item.Path.RelativePath">Delete</a>
                    </span>
                </td>
                <td>
                    <span title="@item.LastUpdate?">@item.LastUpdate.ToRelativeTime()</span>
                </td>
            </tr>
        }
    </tbody>
</table>

<h4>Actions</h4>

<form method="post" asp-page-handler="CreateFile" class="form-inline">
    <input type="hidden" name="path" value="@Model.Path" />
    <label for="file_create_name" class="mb-2 mr-sm-2">New file: </label>
    <input id="file_create_name" name="name" class="form-control mb-2 mr-sm-2" placeholder="ex: index.md" />
    <button type="submit" class="btn btn-primary mb-2">Create file</button>
</form>

<form method="post" asp-page-handler="CreateDirectory" class="form-inline">
    <input type="hidden" name="path" value="@Model.Path" />
    <label for="directory_create_name" class="mb-2 mr-sm-2">New folder: </label>
    <input id="directory_create_name" name="name" class="form-control mb-2 mr-sm-2" placeholder="ex: articles" />
    <button type="submit" class="btn btn-primary mb-2">Create directory</button>
</form>