@page "/{**path}"
@using FlipLeaf
@model FlipLeaf.Pages._Render.IndexModel

@{ Layout = "_Layout"; }

<div id="PageHeaderDiv">
    <h1 class="pagetitle">
        @Model.Title
    </h1>
</div>

<div id="PageContentDiv">
    @Html.Raw(Model.Html)
</div>

<footer style="clear: both">
    <a asp-page="/_manage/edit" asp-route-path="@Model.Path">Modifier</a>
    −
    <a asp-page="/_manage/browse" asp-route-path="@Model.ManagePath">Administration</a>
    −
    @if (Model.LastUpdate != DateTimeOffset.MinValue)
    {
        <text>Dernière mise à jour <span title="@Model.LastUpdate">@Model.LastUpdate.ToRelativeTime()</span></text>
    }
    else if (Model.Items["LastModified"] != null)
    {
        var lastModifiedText = Model.Items["LastModified"] as string;
        if (lastModifiedText != null)
        {
            var lastModified = DateTimeOffset.ParseExact(lastModifiedText, "yyyy-MM-dd HH:mm", System.Globalization.CultureInfo.InvariantCulture);
            <text>Dernière mise à jour <span title="@lastModified">@lastModified.ToRelativeTime()</span></text>
        }

    }
</footer>
